*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Biotif", sans-serif;
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
	z-index: -2;
	transition: opacity 500ms;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Loader */

.loader {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.loader img {
	width: 200px;
	height: auto;
	position: absolute;
	top: 15vh;
	left: calc(50% - 100px);

	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Video */

.background-video {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	opacity: 100%;
	transition: opacity 500ms;
	overflow: hidden;
}
.background-video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -1;
	background-color: rgb(142, 125, 125);
	opacity: 100%;
	transition: opacity 500ms;
	pointer-events: none;
}
.background-container {
	bottom: 1rem;
	position: relative;
}
.background {
	background-color: #2d2d2cde;
	transition: background-color 500ms;
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.224) 20px 20px;
	padding: 1rem;
}

a {
	text-decoration: none;
	color: white;
}

/* Header */

nav h1 {
	color: white;
	width: max-content;
	position: relative;
	margin-right: 5rem;
	gap: 10px;
	padding: 0.5rem;
	text-align: center;
	font-family: "Bogart trial", sans-serif;
}
nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1000px;
	position: relative;
	padding-top: 1.5rem;
}

.nav {
	list-style: none;
	display: flex;
	position: relative;
	width: 100%;
}

.nav > * {
	margin: 0 1rem;
	text-decoration: none;
	color: white;
}

.nav a {
	background: linear-gradient(45deg, #d17fdd, rgb(243, 243, 243));
	background-size: 200% 200%;
	animation: rainbow 2s ease-in-out infinite;
	background-clip: text;
	-webkit-background-clip: text;
	text-align: center;
	transition: color 0.2s ease-in-out;
}

.nav a:hover {
	color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}

.underline {
	background: linear-gradient(to right, purple, rgb(65, 62, 62));
	height: 2px;
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0px;
	transition: width 200ms 200ms, left 200ms 200ms;
}

.nav a:hover:nth-child(1) ~ .underline {
	width: 71px;
}
.nav a:hover:nth-child(2) ~ .underline {
	width: 57px;
	left: 6.35rem;
}
.nav a:hover:nth-child(3) ~ .underline {
	width: 33px;
	left: 11.99rem;
}
.nav a:hover:nth-child(4) ~ .underline {
	width: 57px;
	left: 16.3rem;
}

/* Line effects on hover */

.animated {
	position: relative;
}
.animation {
	position: absolute;
	background-color: white;
	transition: width 200ms, height 200ms;
}
.animation.l1 {
	right: -10px;
	bottom: 0;
	width: 1px;
	height: 0%;
}
.animation.l2 {
	right: -10px;
	top: 0;
	width: 0px;
	height: 1px;
	transition-delay: 200ms;
}
.animation.l3 {
	left: -10px;
	top: 0;
	width: 1px;
	height: 0%;
	transition-delay: 400ms;
}
.animation.l4 {
	left: -10px;
	bottom: 0;
	width: 0px;
	height: 1px;
	transition-delay: 600ms;
}
.animated:hover .animation.l1 {
	height: 100%;
}
.animated:hover .animation.l2 {
	width: calc(100% + 20px);
}
.animated:hover .animation.l3 {
	height: 100%;
}
.animated:hover .animation.l4 {
	width: calc(100% + 20px);
}

/* Main */

main {
	margin: 2rem auto;
	position: relative;
	padding-bottom: 2rem;
	cursor: default;
	opacity: 0%;
	transition: opacity 500ms;
	max-width: 1000px;
}
main h2,
main h3 {
	margin: 2rem;
	color: white;
	font-family: "Bogart trial", sans-serif;
	font-weight: 600;
	width: fit-content;
}
h2 {
	padding: 0.5rem;
}
h3 {
	font-size: 1.5rem;
	font-weight: 500;
	font-family: "Bogart Trial", sans-serif;
}
main p,
main aside {
	padding: 1rem 2rem;
	color: white;
	font-family: "Bogart trial", sans-serif;
	font-size: 1.4rem;
	max-width: 630px;
}
.image-container {
	width: 300px;
	height: 300px;
	position: absolute;
	right: 2rem;
	top: 0;
	transition: opacity 200ms;
}
img[alt="Joaquin's Picture"] {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	object-position: 50% 43%;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.224) 20px 20px;
}

.spread {
	max-width: 100%;
}

.main-link {
	transition: color 100ms;
	position: relative;
	text-decoration: underline;
	padding: 0.5rem 0rem;
}
.main-link:hover {
	color: #f1a708;
	text-decoration: none;
}

.main-link::before {
	content: "";
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
	padding: 1rem;
	border: white 1px solid;
	transform: scale(2);
	opacity: 0%;
	transition: border 200ms, transform 200ms, opacity 200ms;
}
.main-link:hover::before {
	transform: scale(1.2);
	border: #f1a708 1px solid;
	opacity: 100%;
}

/* Responsive */
@media screen and (max-width: 1100px) {
	.background-container {
		width: 80%;
	}

	.image-container {
		width: 150px;
		height: 150px;
		top: -1.6rem;
		right: 6.5rem;
	}
	main p {
		min-width: 100%;
	}
}
@media screen and (max-width: 840px) {
	.background-container {
		width: 94%;
		bottom: 0;
	}
}
@media screen and (max-width: 690px) {
	.background-container {
		width: 100%;
		min-height: 100vh;
		height: 100%;
		margin-top: 0;
	}
	.nav a {
		min-width: max-content;
	}
	.background {
		min-height: 100vh;
		height: 100%;
	}

	html {
		font-size: 18px;
	}
	nav {
		margin: 0;
		flex-direction: column-reverse;
		align-items: center;
		padding: 0;
	}
	.nav {
		justify-content: center;
	}
	nav .underline {
		width: 100%;
		margin: 0;
	}
	.nav a:hover:nth-child(1) ~ .underline {
		width: 71px;
		left: calc(50% - 10rem);
	}
	.nav a:hover:nth-child(2) ~ .underline {
		width: 57px;
		left: calc(50% - 3.4rem);
	}

	.nav a:hover:nth-child(3) ~ .underline {
		width: 33px;
		left: calc(50% + 2.2rem);
	}

	.nav a:hover:nth-child(4) ~ .underline {
		width: 57px;
		left: calc(50% + 6.3rem);
	}

	nav h1 {
		width: 100%;
		bottom: 0;
		right: 0;
		margin: 1rem;
	}
	main {
		min-width: 348px;
		padding-bottom: 0;
	}
	.image-container {
		top: 0;
	}
	footer {
		margin: 0;
	}
}
@media screen and (max-width: 500px) {
	.image-container {
		right: 10%;
	}
}
@media screen and (max-width: 450px) {
	.image-container {
		width: 120px;
		height: 120px;
	}
	.background {
		padding: 0;
		overflow: hidden;
	}
}
@media screen and (max-width: 375px) {
	nav {
		font-size: 0.9rem;
	}
}
